---
const { ownerDid, collectionName, guestbookKey } = Astro.params;
import { actions } from "astro:actions";
import { AtUri } from "@atproto/syntax";

const guestbookAtUri = AtUri.make(ownerDid, collectionName, guestbookKey);
const guestbookResponse =
  await Astro.locals.guestbookAgent.com.fujocoded.guestbook.getGuestbook({
    guestbookAtUri: guestbookAtUri.toString(),
  });

if (!guestbookResponse.success) {
  throw new Error("Problem with the guestbook");
}

const result = Astro.getActionResult(actions.postToGuestbook);
const guestbookData = guestbookResponse.data;
---

<html>
  <body>
    {!!guestbookData?.title && <h1>{guestbookData?.title}</h1>}
    <div class="submissions">
      {
        guestbookData?.submissions.map((submission) => (
          <article>
            <>
              <p>
                <span class="author">{submission.author.did}</span> says:
                <span class="text">{submission.text}</span>
              </p>
              <datetime>{submission.createdAt}</datetime>
            </>
          </article>
        ))
      }
      <form method="POST" action={actions.postToGuestbook}>
        <input name="text" type="text" placeholder="your text" />
        <input
          name="postedTo"
          value={guestbookAtUri.toString()}
          type="hidden"
        />

        <button type="submit">Submit</button>
        {result?.error && <p class="error">{result.error.message}</p>}
        {result?.data && <div>{result.data}</div>}
      </form>
    </div>
  </body>
</html>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("form");
  //   form?.addEventListener("submit", async (event) => {
  //     event.preventDefault();
  //     const formData = new FormData(form);
  //     const { error } = await actions.postToGuestbook(formData);
  //     if (!error) navigate("");
  //   });
</script>
