---
const { ownerDid, guestbookKey } = Astro.params;

const guestbookData = { title: "hello", submissions: [] };
const loggedInClient = undefined;
---

<html>
  <body>
    {!!guestbookData?.title && <h1>{guestbookData?.title}</h1>}
    {ownerDid}
    {loggedInClient && <h2>Welcome {loggedInClient.did}</h2>}
    <div class="submissions">
      {
        guestbookData?.submissions
          .map((submission) => (
            <article>
              <>
                <p>
                  <span class="author">{submission.author.did}</span> says:
                  <span class="text">{submission.text}</span>
                </p>
                <datetime>{submission.createdAt}</datetime>
              </>
            </article>
          ))
          .join("\n")
      }
      <form
        action="/guestbook/did:plc:r2vpg2iszskbkegoldmqa322/com.fujocoded.guestbook.book/emotional-support"
        method="POST"
      >
        <input name="message" placeholder="your text" />

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
