---
// To fetch a guestbook we extract the components of its
// AtUri from the page URL. We then use the AtUri to ask our
// AppView server for the guestbook data.
const { ownerDid, collectionName, guestbookKey } = Astro.params;
import { actions } from "astro:actions";
import { AtUri } from "@atproto/syntax";

const guestbookAtUri = AtUri.make(ownerDid, collectionName, guestbookKey);
const guestbookResponse =
  // The guestbook agent is our authenticated client that knows how to fetch
  // data for our guestbook from an AppView that implements the fujocoded
  // guestbook data-fetching endpoints.
  // In this case, we use the "com.fujocoded.guestbook.getGuestbook" method
  // to get the guestbook data, passing its AtUri as a parameter.
  await Astro.locals.guestbookAgent.com.fujocoded.guestbook.getGuestbook({
    guestbookAtUri: guestbookAtUri.toString(),
  });

if (!guestbookResponse.success) {
  throw new Error("Problem with the guestbook");
}

const guestbookData = guestbookResponse.data;
const result = Astro.getActionResult(actions.postToGuestbook);
---

<html>
  <body>
    {!!guestbookData?.title && <h1>{guestbookData?.title}</h1>}
    <div class="submissions">
      {
        guestbookData?.submissions.map((submission) => (
          <article>
            <>
              <p>
                <img src={submission.author.avatar} />
                <span class="author">
                  {submission.author.handle ?? submission.author.did}
                </span>{" "}
                says:
                <span class="text">{submission.text}</span>
              </p>
              <datetime>{submission.createdAt}</datetime>
            </>
          </article>
        ))
      }
      {
        Astro.locals.loggedInClient && (
          <form method="POST" action={actions.postToGuestbook}>
            <input name="text" type="text" placeholder="your text" />
            <input
              name="postedTo"
              value={guestbookAtUri.toString()}
              type="hidden"
            />

            <button type="submit">Submit</button>
            {result?.error && <p class="error">{result.error.message}</p>}
            {result?.data && <div>{result.data}</div>}
          </form>
        )
      }
    </div>
  </body>
</html>

<style>
  img {
    width: 100px;
    height: auto;
  }
</style>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("form");
  //   form?.addEventListener("submit", async (event) => {
  //     event.preventDefault();
  //     const formData = new FormData(form);
  //     const { error } = await actions.postToGuestbook(formData);
  //     if (!error) navigate("");
  //   });
</script>
