---
// To fetch a user data we first extract its DID from the page URL.
// This is an unchanging identifier of this specific user across
// the whole ATproto network.
const { partialDid } = Astro.params;
import { AtUri } from "@atproto/syntax";
import CreateGuestbookForm from "../../../components/CreateGuestbookForm.astro";
import { getGuestbookAgent } from "../../lib/atproto";

const ownerDid = "did:" + partialDid;

const guestbooks =
  await getGuestbookAgent().com.fujocoded.guestbook.getGuestbooks({
    ownerDid,
  });

if (!guestbooks.success) {
  throw new Error(`There was an error fetching the data for ${ownerDid}`);
}
---

<div>
  <h2>
    Welcome {ownerDid}! (<a href={`https://pdsls.dev/at/${ownerDid}`}>pdsls</a>)
  </h2> Here are your guestbooks:
  <ul>
    {
      guestbooks.data.guestbooks.map((guestbook) => {
        const guestbookAtUri = new AtUri(guestbook.atUri);
        return (
          <li>
            <div>
              <a
                href={`guestbook/${ownerDid}/${guestbookAtUri.collection}/${guestbookAtUri.rkey}`}
              >
                {guestbook.title ??
                  `${guestbookAtUri.collection}/${guestbookAtUri.rkey}`}
              </a>
              (submissions: {guestbook.submissionsCount ?? "N/A"})
            </div>
            <div style="color:gray; font-size:smaller">{guestbook.atUri}</div>
          </li>
        );
      })
    }
  </ul>
  <h3>Create new guestbook</h3>
  <CreateGuestbookForm />
</div>
